In [9]:
import pandas as pd
filename = 'leguan_test1_Rec 36.tsv'
data1 = pd.read_csv(filename,sep='\t')  
data2 = data1.drop(['GazeEventType','RecordingName','RecordingDate','FixationFilter','RecordingTimestamp'],axis='columns')
index1 = data2['MediaName'].dropna().index
index1 = data2['MediaName'].dropna().index
data3 = data2[data2.index.isin(index1)]
data3.head()
index2 = data3[data3['MediaName']=='fixation.jpg'].index
data4 = data3[~data3.index.isin(index2)]
data4.head() #删除多余图片刺激

,ParticipantName,StudioTestName,MediaName,GazeEventDuration,AOI[Rectangle]Hit,AOI[Rectangle 2]Hit,AOI[Rectangle]Hit.1,AOI[Rectangle 2]Hit.1,AOI[Rectangle]Hit.2,AOI[Rectangle 2]Hit.2,...,AOI[Rectangle 2]Hit.84,AOI[Rectangle]Hit.85,AOI[Rectangle 2]Hit.85,AOI[Rectangle]Hit.86,AOI[Rectangle 2]Hit.86,AOI[Rectangle]Hit.87,AOI[Rectangle 2]Hit.87,AOI[Rectangle]Hit.88,AOI[Rectangle 2]Hit.88,Unnamed: 187
946,WGT_BLOCK7,test1,10-01.jpg,400.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
947,WGT_BLOCK7,test1,10-01.jpg,400.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
948,WGT_BLOCK7,test1,10-01.jpg,400.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
949,WGT_BLOCK7,test1,10-01.jpg,400.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,WGT_BLOCK7,test1,10-01.jpg,400.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
group0101 = data4[data4['MediaName']=='01-10.jpg']  #0100组合数据
group0101 = group0101.dropna(how='all',axis = 'columns')  #删除竖排缺省值
group0101.head()

,ParticipantName,StudioTestName,MediaName,GazeEventDuration,AOI[Rectangle]Hit.2,AOI[Rectangle 2]Hit.2,AOI[Rectangle]Hit.7,AOI[Rectangle 2]Hit.7,AOI[Rectangle]Hit.10,AOI[Rectangle 2]Hit.10,AOI[Rectangle]Hit.20,AOI[Rectangle 2]Hit.20
4809,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4810,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4811,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4812,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4813,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN

In [3]:
group0101 = group0101.rename(columns={'AOI[Rectangle]Hit.2': 'left2','AOI[Rectangle 2]Hit.2': 'right2'})
group0101 = group0101.rename(columns={'AOI[Rectangle]Hit.7': 'left3','AOI[Rectangle 2]Hit.7': 'right3'})
group0101 = group0101.rename(columns={'AOI[Rectangle]Hit.10': 'left4','AOI[Rectangle 2]Hit.10': 'right4'})
group0101 = group0101.rename(columns={'AOI[Rectangle]Hit.20': 'left5','AOI[Rectangle 2]Hit.20': 'right5'})
group0101.head()    #修改列标

,ParticipantName,StudioTestName,MediaName,GazeEventDuration,left2,right2,left3,right3,left4,right4,left5,right5
4809,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4810,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4811,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4812,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4813,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN

In [4]:
group0101 = group0101.drop_duplicates()
group0101.head()

,ParticipantName,StudioTestName,MediaName,GazeEventDuration,left2,right2,left3,right3,left4,right4,left5,right5
4809,WGT_BLOCK5,test1,01-10.jpg,970.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4880,WGT_BLOCK5,test1,01-10.jpg,277.0,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN
4963,WGT_BLOCK5,test1,01-10.jpg,250.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN
5038,WGT_BLOCK5,test1,01-10.jpg,430.0,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN
5167,WGT_BLOCK5,test1,01-10.jpg,100.0,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN

In [5]:
excelfilename = 'cleandata\WGT\BLOCK5.csv'
adddata = pd.read_csv(excelfilename)

In [6]:
adddata.head()

,Unnamed: 0,GazeEventDuration,MediaName,ParticipantName,StudioTestName,left1,left2,left3,left4,left5,right1,right2,right3,right4,right5
0,2877,1156.0,01-00.jpg,WGT_BLOCK5,test1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
1,2951,183.0,01-00.jpg,WGT_BLOCK5,test1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0
2,3006,250.0,01-00.jpg,WGT_BLOCK5,test1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0
3,3081,117.0,01-00.jpg,WGT_BLOCK5,test1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0
4,3116,450.0,01-00.jpg,WGT_BLOCK5,test1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0

In [7]:
packdata = pd.concat([adddata,group0101],sort=True)

In [8]:
packdata.to_csv(excelfilename)